extends layout

block content

  div.container-fluid
    div(class='row')
      div.col-sm-4
      div(class='col-sm-4')
        div(class='panel panel-default')
          div(class='panel-heading')
            h3.panel-title A.S. Roma Players
          div( class='panel-body')
            ul.list-group
              each player in players
                li.list-group-item
                  span= player.jerseyNumber + ' - ' + player.name
                  br
                  span= ' (' + player.position + ' - '+ player.nationality +')'
      div.col-sm-4


